@import url("https://fonts.googleapis.com/css?family=Bree+Serif|Poppins|Source+Sans+Pro|Montserrat:400,900&display=swap");

* {
  /* margin: 0;
  padding: 0; */
  box-sizing: border-box;
  font-family: "Source Sans Pro", "Poppins", sans-serif;
}
body {
   background: #9D5A3B; 
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1.5em;
}

.menu {
  font-family: sans-serif;
  font-size: 14px;
  color: white;
}

.menu-group-heading {
  margin: 0;
  padding-bottom: 1em;
  border-bottom: 2px solid #ccc;
}

.menu-group {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5em;
  padding: 1.5em 0;
}

.menu-item {
  display: flex;
}

.menu-item-img {
  width: 80px;
  height: 80px;
  flex-shrink: 0;
  object-fit: cover;
  margin-right: 1.5em;
}

.menu-item-text {
  flex-grow: 1;
}

.menu-item-heading {
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.menu-item-name {
  margin-right: 1.5em;
}

.menu-item-desc {
  line-height: 1.6;
}

@media screen and (min-width: 992px) {
  .menu {
    font-size: 16px;
  }

  .menu-group {
    grid-template-columns: repeat(2, 1fr);
  }

  .menu-item-img {
    width: 125px;
    height: 125px;
  }
}
 
 @import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
} 
body{
    background-image: url('images/bg-1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    position: relative; 
} 
nav{
  display:flex;
  height:80px;
  width:100%;
  background:#000;
  align-items: center;
  justify-content:space-between;
  padding:0 50px 0 100px;
  flex-wrap: wrap;
}
nav .logo{
  color:#fff;
  font-size:35px;
  font-weight:600;
}
nav ul{
  display:flex;
  flex-wrap: wrap;
  list-style-type: none;
}
nav ul li{
  margin:0 5px;
}
nav ul li a{
  color:#f2f2f2;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding:8px 15px;
  border-radius: 5px;
  letter-spacing:1px;
  border-bottom:1.5px solid transparent;
  transition:all 0.3s ease;
}
nav ul li a.active,
nav ul li a:hover{
  border-color:orange;
  color:orange;
}
nav .menu-btn i{
  color:#fff;
  font-size:22px;
  cursor: pointer;
  display:none;
}
input[type="checkbox"]{
  display:none;
}

@media (max-width:1000px){
  nav{
    padding:0 40px 0px 50px;
  }
}
@media (max-width:920px){
  nav .menu-btn i{
    display:block;
  }
  #click:Checked ~ .menu-btn i:before{
    content:'\f00d';
  }
  nav ul{
    position:fixed;
    top:80px;
    left:-100%;
    background:#111;
    height:100vh;
    width:100%;
    text-align: center;
    z-index:10;
    display:block;
    transition:all 0.3s ease;
  }
  #click:Checked ~ ul {
    left:0px;
  }
  nav ul li{
    width:100%;
    margin:40px 0;
  }
  nav ul li a{
    width:100%;
    margin-left:-100%;
    display:block;
    font-size: 20px;
    transition:0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  #click:Checked ~ ul li a{
    margin-left:0px;
  }
}
@media (max-width:768px){
  .content div{
    font-size: 22px;
  }
}


  
